[submodule "wiicompiled-nx"]
	path = wiicompiled-nx
	url = https://github.com/nx-mod/wiicompiled-nx.git
	branch = switch
[submodule "aurora-nx"]
	path = aurora-nx
	url = https://github.com/nx-mod/aurora-nx.git
[submodule "dawn-nx"]
	path = dawn-nx
	url = https://github.com/nx-mod/dawn-nx.git
	branch = switch
[submodule "nxvk"]
	path = nxvk
	url = https://github.com/nx-mod/nxvk.git
	branch = switch
[submodule "sqlite-nx"]
	path = sqlite-nx
	url = https://github.com/nx-mod/sqlite-nx.git
	branch = switch
